  <div class="contacts-input">
  <% if child_fields.object.contacts.present? %>
    <%= child_fields.fields_for :contacts do |cf| %>
      <div class="contacts-input__row">
        <%= cf.select :title, contact_title_options, {}, class: 'contacts-input__field' %>
        <%= cf.text_field :name, class: 'contacts-input__field', placeholder: 'Indtast navn' %>
        <%= cf.telephone_field :phone_number, class: 'contacts-input__field', placeholder: 'Indtast telefonnummer' %>
        <%= cf.hidden_field :id %>
        <%= cf.hidden_field :_destroy, value: 0, class: 'contacts-input__destroy-field' %>
        <button class="contacts-input__destroy-button"><%= fa_icon 'trash' %></i></button>
      </div>
    <% end %>
    <div class="contacts-input__spacer"></div>
  <% end %>

  <%= child_fields.fields_for :contacts, [child_fields.object.contacts.new] do |cf| %>
    <div class="contacts-input__row contacts-input__row--new">
      <%= cf.select :title, contact_title_options, {}, class: 'contacts-input__field' %>
      <%= cf.text_field :name, class: 'contacts-input__field', placeholder: 'Indtast navn' %>
      <%= cf.telephone_field :phone_number, class: 'contacts-input__field', placeholder: 'Indtast telefonnummer' %>
      <a class="contacts-input__destroy-button"><%= fa_icon 'trash' %></a>
    </div>
  <% end %>
  <script type="text/javascript">
    bindContactsInput()
  </script>
</div>
