<div class="card-list">
  <% [*notes, 'new'].each_slice(4) do |row_notes| %>
    <div class="card-list__row">
      <% row_notes.each do |note| %>
        <div class="note-item">
          <% if note != 'new' %>
            <div class="note-item__actions">
              <%= link_to edit_child_note_path(@child, note), class: 'note-item__action' do %>
                <%= fa_icon "pencil" %>
              <% end %>
              <%= link_to child_note_path(@child, note), class: 'note-item__action', method: :delete, data: { confirm: 'Slet note?' } do %>
                <%= fa_icon "trash" %>
              <% end %>
            </div>
            <div class="note-item__content">
              <%= simple_format(note.content) %>
            </div>
          <% else %>
            <%= link_to new_child_note_path(@child), class: 'note-item__content note-item__content--new' do %>
              <%= fa_icon 'plus' %>
              <h2>
                Opret en ny note
              </h2>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
