<!DOCTYPE html>
<html>
  <head>
    <title>Børnenoten</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui" />
    <% if @background_color.present? %>
      <style type="text/css">
        html { background-color: <%= @background_color %>; }
      </style>
    <% end %>
  </head>

  <body>
    <%= render partial: 'shared/menu' %>
    <div class="main-container">
      <%= yield %>
    </div>
  </body>
</html>
